<mat-form-field>
  <input matInput [(ngModel)]="device.name" placeholder="Name" />
</mat-form-field>

<mat-form-field>
  <input matInput [(ngModel)]="device.topic" placeholder="Topic" />
</mat-form-field>

<div class="create-button-row">
  <button mat-button color="warn" (click)="cancel()">
    <mat-icon>delete</mat-icon> Cancel
  </button>
  <button mat-button color="primary" (click)="create()">
    <mat-icon>save</mat-icon> Create
  </button>
</div>
