<div fxLayout="column">
  <div fxFlex>
    <div class="mb-20" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div fxFlex>
        <app-input-filter> </app-input-filter>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div class="mb-20" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div fxFlex>
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>
