<div fxLayout="column">
  <div fxFlex>
    <app-data-filter></app-data-filter>
  </div>
  <div fxFlex>
    <div
      class="mb-20"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxFlex
      fxLayoutGap="20px"
    >
      <div fxFlex>
        <app-statusbox
          [bgClass]="'success'"
          [icon]="'bar_chart'"
          [count]="(stats$ | async)?.avg"
          [label]="'Average'"
        ></app-statusbox>
      </div>
      <div fxFlex>
        <app-statusbox
          [bgClass]="'warn'"
          [icon]="'bar_chart'"
          [count]="(stats$ | async)?.max"
          [label]="'Max'"
        ></app-statusbox>
      </div>
      <div fxFlex>
        <app-statusbox
          [bgClass]="'info'"
          [icon]="'bar_chart'"
          [count]="(stats$ | async)?.min"
          [label]="'Min'"
        ></app-statusbox>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div class="mb-20" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div fxFlex>
        <app-data-list> </app-data-list>
      </div>
    </div>
  </div>
</div>
