<div class="login-page">
  <div class="content" fxFlex="90%" fxFlex.gt-sm="40%">
    <form class="login-form" [formGroup]="form" fxFlex fxLayout="column">
      <div class="text-center"><h2 class="app-name">Data Management</h2></div>
      <div fxFlex fxLayout="column">
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required
          />
          <mat-error *ngIf="formErrors.username">{{
            formErrors.username
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <mat-error *ngIf="formErrors.password">{{
            formErrors.password
          }}</mat-error>
        </mat-form-field>
      </div>
      <div fxFlexFill>
        <button
          mat-raised-button
          color="primary"
          class="w-100"
          (click)="login()"
        >
          Login
        </button>
      </div>
      <div
        fxFlex
        fxLayout="column"
        fxLayoutGap="10px"
        style="margin: 20px 0 30px 0"
      >
        <div>
          <mat-checkbox color="primary">Remember Me</mat-checkbox>
        </div>
        <div>
          <a href="javascript:void(0)">Forget Password</a>
        </div>
      </div>
    </form>
  </div>
</div>
