<div class="mb-20" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Filter </mat-card-title>
      <span class="action-button-spacer"></span>
      <button
        mat-stroked-button
        color="primary"
        class="action-button-margin"
        (click)="refresh()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="mb-20" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
        <mat-form-field fxFlex>
          <mat-select
            placeholder="sensors type"
            [formControl]="sensorTypeSelectForm"
            (openedChange)="selectSensorTypeChange($event)"
          >
            <mat-option
              *ngFor="let sensorType of sensorTypeList"
              [value]="sensorType"
              >{{ sensorType }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-select
            placeholder="devices"
            [formControl]="deviceSelectForm"
            (openedChange)="selectDeviceChange($event)"
            multiple
          >
            <mat-option
              *ngFor="let device of devices$ | async"
              [value]="device"
              >{{ device.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>time</mat-label>
          <mat-select [(value)]="selectedTime">
            <mat-option value="1hr">1 hr</mat-option>
            <mat-option value="1day">1 day</mat-option>
            <mat-option value="1week">1 week</mat-option>
            <mat-option value="1month">1 month</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
