<mat-card>
  <mat-card-header>
    <mat-card-title>Line Chart</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-line-chart [data]="data"></app-line-chart>
  </mat-card-content>
</mat-card>
