<h1 md-dialog-title>Confirm</h1>
<div md-dialog-content>{{ confirmMessage }}</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
  <button mat-button (click)="dialogRef.close(true)">Confirm</button>
</div>
