<mat-card>
  <mat-card-header>
    <mat-card-title> Device Management </mat-card-title>
    <span class="action-button-spacer"></span>
    <button
      mat-stroked-button
      color="primary"
      class="create-button-margin"
      (click)="createDevice()"
    >
      <mat-icon>add</mat-icon>Create
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-expansion-panel *ngFor="let device of devices">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ device.name }} </mat-panel-title>
        <mat-panel-description> {{ device.topic }} </mat-panel-description>
        <mat-panel-description>
          {{ device?.deviceStatus?.timestamp }} :
          {{ device?.deviceStatus?.value }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section class="input-section">
        <mat-form-field>
          <input matInput [(ngModel)]="device.name" placeholder="Name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="device.topic" placeholder="Topic" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="device.mini" placeholder="mini" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="device.diff" placeholder="diff" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="device.sta" placeholder="sta" />
        </mat-form-field>
      </section>

      <section>
        <button mat-button color="warn" (click)="removeDevice(device)">
          <mat-icon>delete</mat-icon> Delete
        </button>
        <button mat-button color="primary" (click)="updateDevice(device)">
          <mat-icon>save</mat-icon> Save
        </button>
        <button mat-button color="accent" (click)="miniDevice(device)">
          <mat-icon>power_settings_new</mat-icon> Mini
        </button>
        <button mat-button color="accent" (click)="diffDevice(device)">
          <mat-icon>power_settings_new</mat-icon> Diff
        </button>
        <button mat-button color="accent" (click)="staDevice(device)">
          <mat-icon>power_settings_new</mat-icon> sta
        </button>
        <button mat-button color="accent" (click)="resetDevice(device)">
          <mat-icon>power_settings_new</mat-icon> Reset
        </button>
        <button mat-button (click)="updateDeviceStatus(device)">
          <mat-icon>refresh</mat-icon> Status
        </button>
      </section>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
