<div id="sidebar">
  <mat-nav-list>
    <a
      mat-list-item
      [routerLinkActive]="'active'"
      [routerLink]="['/dashboard']"
    >
      <mat-icon class="sidenav-icon">dashboard</mat-icon>
      {{ 'Dashboard' | translate }}
    </a>
    <div class="nested-menu">
      <a mat-list-item (click)="addExpandClass('pages')">
        <mat-icon class="sidenav-icon">add</mat-icon>
        {{ 'lb.sensorMenu' | translate }}
      </a>
      <ul class="nested submenu" [class.expand]="showMenu === 'pages'">
        <li>
          <a [routerLinkActive]="'active'" [routerLink]="['/sensor', 'weight']"
            ><span>{{ 'lb.weightMenu' | translate }}</span></a
          >
        </li>
        <li>
          <a
            [routerLinkActive]="'active'"
            [routerLink]="['/sensor', 'temperature']"
            ><span>{{ 'lb.tempMenu' | translate }}</span></a
          >
        </li>
        <li>
          <a
            [routerLinkActive]="'active'"
            [routerLink]="['/sensor', 'humidity']"
            ><span>{{ 'lb.humidMenu' | translate }}</span></a
          >
        </li>
        <li>
          <a
            [routerLinkActive]="'active'"
            [routerLink]="['/sensor', 'pressure']"
            ><span>{{ 'lb.pressureMenu' | translate }}</span></a
          >
        </li>
        <li>
          <a
            [routerLinkActive]="'active'"
            [routerLink]="['/sensor', 'altitude']"
            ><span>{{ 'lb.altitudeMenu' | translate }}</span></a
          >
        </li>
        <li>
          <a [routerLinkActive]="'active'" [routerLink]="['/sensor', 'light']"
            ><span>{{ 'lb.lightMenu' | translate }}</span></a
          >
        </li>
        <li>
          <a [routerLinkActive]="'active'" [routerLink]="['/sensor', 'gas']"
            ><span>{{ 'lb.gasMenu' | translate }}</span></a
          >
        </li>
      </ul>
    </div>
    <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/charts']">
      <mat-icon class="sidenav-icon">bar_chart</mat-icon>
      {{ 'lb.report' | translate }}
    </a> -->
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/device']">
      <mat-icon class="sidenav-icon">router</mat-icon>
      {{ 'lb.devicemanagement' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/forms']">
      <mat-icon class="sidenav-icon">contacts</mat-icon>
      {{ 'lb.contactus' | translate }}
    </a>
  </mat-nav-list>
</div>
