<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-card>
  <mat-card-header>
    <mat-card-title> {{ sensorType$ | async }} </mat-card-title>
    <span class="action-button-spacer"></span>
    <button
      mat-stroked-button
      color="primary"
      class="action-button-margin"
      (click)="report()"
    >
      <mat-icon>add</mat-icon>Export
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-table #table [dataSource]="tableData$">
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef> No </mat-header-cell>
        <mat-cell *matCellDef="let element = $implicit; let i = index">
          {{ ((page$ | async) - 1) * (size$ | async) + 1 + i }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.createDate | date: 'dd/MM/yyyy HH:mm:ss' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="deviceName">
        <mat-header-cell *matHeaderCellDef> Device Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.device?.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef>
          {{ translateUnit(sensorType$ | async) }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.value }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="total$ | async"
      [pageSize]="size$ | async"
      [pageSizeOptions]="[50, 100, 200]"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
