table {
  width: 100%;
}

.action-button-spacer {
  flex: 1 1 auto;
}

mat-form-field {
  margin: 20px;
  width: 50%;
}

.action-button-margin {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 12px;
}
