<div class="mb-20" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>
    <app-device-list
      (remove)="remove($event)"
      (update)="update($event)"
      (reset)="reset($event)"
      (refreshStatus)="refreshStatus($event)"
      (mini)="mini($event)"
      (diff)="diff($event)"
      (sta)="sta($event)"
      (create)="create()"
      [devices]="devices$ | async"
    >
    </app-device-list>
  </div>
</div>
