<h1 md-dialog-title>Report</h1>
<div md-dialog-content>{{ confirmMessage }}</div>
<div mat-dialog-actions>
  <div fxLayout="column">
    <mat-form-field>
      <mat-select placeholder="Select Device" [formControl]="deviceSelectForm">
        <mat-option
          *ngFor="let device of (devices$ | async)"
          [value]="device"
          >{{ device.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        [formControl]="startDate"
        placeholder="Choose a start date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        [formControl]="endDate"
        placeholder="Choose a end date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <div fxLayout="row">
      <button mat-button (click)="dialogRef.close()">Cancel</button>
      <button mat-button (click)="download()">Download</button>
    </div>
  </div>
</div>
