<mat-card [ngClass]="bgClass">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="icon-lg">{{ icon }}</mat-icon>
    </div>
    <mat-card-title>{{ label }}</mat-card-title>
    <mat-card-subtitle>{{ count }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
